@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    background-color:#81A263;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    filter: drop-shadow(0 0.2rem 0.25rem #76f500);
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 2.5em;
    color: #222;
    cursor: default;
}

.logo span {
    color: #365E32;
}

.navigation a {
    font-size: 1.1em;
    color:#365E32;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover {
    color: #222;
}
.container {
    margin: 200px auto;
    width: 75%;

}
img {
    max-width: 350px;
    float: left;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 30px;
}
.text h2 {
    font-size: 50px;
    padding: 5px;
}

.text p{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.container-1 {
    margin: 100px auto;
    width: 75%;

}
.container-1 img {
    max-width: 400px;
    float: right;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 30px;
}
.text-1 h2 {
    font-size: 50px;
    padding: 5px;
}

.text-1 p{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.container-2 {
    margin: 300px auto;
    width: 75%;

}
.container-2 img {
    max-width: 350px;
    margin-left:40%;
    float: unset;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 30px;
}
.text-2 h2 {
    font-size: 50px;
    padding: 5px;
    align-items: center;
}

.text-2 p{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    align-items:baseline;
}
